div, span, button, input {
    box-sizing: initial;
    font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif";
    font-size: inherit;
}

.divStyle {
    position: absolute;
    width: 250px;
    background-color: white;
    display: none;
    z-index: 100;
    border-radius: 5px;
    box-shadow: black 0 0 5px 1px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.monthStyle {
    justify-content: space-between;
    align-content: space-between;
}

.monthStyle_button {
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #d2ebf5;
    margin: 3px;
    width: 70px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

.monthStyle_button:hover {
    background-color: #93dffd;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.overflowOverlay {
    overflow: overlay;
}

.flexJustifyCenter {
    display: flex;
    justify-content: space-between;
}

.topButton {
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.topButton:hover {
    background-color: #d2ebf5;
    
}

.weekIcon {
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #93dffd;
    margin: 3px;
    width: 23px;
    height: 23px;
    display: inline-block;
}

.dayIcon {
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #d2ebf5;
    margin: 3px;
    width: 23px;
    height: 23px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

.dayIcon:hover {
    background-color: #93dffd;
}

.monthRow button {
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
}

.monthRow button:hover {
    background-color: #ececec;
}


.yearRow_button {
    padding: 7px;
    border: none;
    background-color: #d2ebf5;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
    transition: 0.5s;
    width: 31px;
    height: 22px;
}

.yearRow_button:hover {
    background-color: #93dffd;
}

.thin-border {
    border-style: solid;
    border-width: thin;
}

.blankDate{
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #fbc2c2;
    margin: 3px;
    width: 237px;
    height: 20px;
    display: inline-block;
    cursor: pointer; 
    transition: 0.5s;
}

.blankDate:hover{
    background-color: #f38686;
}