.divStyle {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: white;
    display: none;
    z-index: 100;
    border-radius: 5px;
    box-shadow: black 0 0 5px 1px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.monthStyle{
    justify-content: space-between;
    align-content: space-between;
    height: 250px;
}
.monthStyle button{
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #d2ebf5;
    margin: 3px;
    width: 70px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
}
.monthStyle button:hover{
    background-color: #93dffd;
}
.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.overflowOverlay{
    overflow: overlay;
}
.flexJustifyCenter {
    display: flex;
    justify-content: space-between;
}

.topButton {
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}
.topButton:hover {
    background-color: #d2ebf5;
}

.weekIcon {
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #93dffd;
    margin: 3px;
    width: 23px;
    height: 23px;
    display: inline-block;
}

.dayIcon {
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #d2ebf5;
    margin: 3px;
    width: 23px;
    height: 23px;
    display: inline-block;
    cursor: pointer;
}

.dayIcon:hover{
    background-color: #93dffd;
}


.monthRow button {
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
}

.monthRow button:hover {
    background-color: #ececec;
}
.yearRow button {
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

.yearRow button:hover {
    background-color: #d2ebf5;
}